<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
</head>
<body>
    <header class="header">
            {{ page.header }}
            <nav class="menu">
                    {{ page.menu }}
            </nav>
    </header>
    <main class="main">
       {% if page.sidebar %}
            <div class="sidebar">

            </div>
        {% endif %}
        <div class="content">
             
            {{ page.content }}
        </div>
        
    </main>

    <footer>

            {{ page.footer }}

    </footer>
</body>
</html>
